## Part 1 70%

## Write a jupyter notebook that analyses the differences between the sexes by age in Ireland.

    Weighted mean age (by sex)
    The difference between the sexes by age

## This part does not need to look at the regions.

In [130]:
import pandas as pd



#read in csv file and locate it
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df.tail(8)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9784,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a5-13a3-e055-000000000001,Galway County Council,Number,26
9785,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-148e-13a3-e055-000000000001,Leitrim County Council,Number,4
9786,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1493-13a3-e055-000000000001,Mayo County Council,Number,25
9787,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1497-13a3-e055-000000000001,Roscommon County Council,Number,7
9788,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1498-13a3-e055-000000000001,Sligo County Council,Number,9
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

In [131]:
# get the coluumn list to decide what to drop

headers = df.columns.tolist()
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [132]:
drop_col_list = [
    'STATISTIC',
    'Statistic Label',
    'TLIST(A1)',
    'CensusYear',
    'C02199V02655',
    'C02076V03371',
    'C03789V04537',
    'UNIT',
    'Administrative Counties'
]

# Drop the specified columns 
df_cleaned = df.drop(columns=drop_col_list, errors='ignore')
df_cleaned.head()

          Sex Single Year of Age    VALUE
0  Both sexes           All ages  5149139
1  Both sexes           All ages    61968
2  Both sexes           All ages   592713
3  Both sexes           All ages   233860
4  Both sexes           All ages   330506

In [133]:
# get ride of the "both sexes" in sex column
df_cleaned = df_cleaned[df_cleaned['Sex'] != 'Both sexes']
df_cleaned.head()

       Sex Single Year of Age    VALUE
3264  Male           All ages  2544549
3265  Male           All ages    30822
3266  Male           All ages   291796
3267  Male           All ages   112032
3268  Male           All ages   162532

In [134]:
# create pivot table for analysis
df_anal = pd.pivot_table(df, 'Sex','VALUE', "Single Year of Age")
print (df_anal.head(3))


## df anal error!!!!!!

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
#  Weighted mean age (by sex)

# filter rows needed for analysis
df_filtered = df[
    (df['Sex'].isin(['Male', 'Female'])) &
    (df['Single Year of Age'] != 'All ages')
]

# 2. Convert age to numeric safely
df_filtered['Single Year of Age'] = pd.to_numeric(
    df_filtered['Single Year of Age'], errors='coerce'
)
df_filtered = df_filtered.dropna(subset=['Single Year of Age'])
df_filtered['Single Year of Age'] = df_filtered['Single Year of Age'].astype(int)

# 3. Weighted mean function
def weighted_mean_age(x):
    return (x['Single Year of Age'] * x['VALUE']).sum() / x['VALUE'].sum()

# 4. Weighted mean age by sex (Ireland total)
weighted_mean_by_sex = df_filtered.groupby('Sex').apply(weighted_mean_age)

print(weighted_mean_by_sex)

Sex
Female    38.939796
Male      37.739448
dtype: float64

C:\Users\Cheryl\AppData\Local\Temp\ipykernel_22840\4284004726.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Single Year of Age'] = pd.to_numeric(
C:\Users\Cheryl\AppData\Local\Temp\ipykernel_22840\4284004726.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  weighted_mean_by_sex = df_filtered.groupby('Sex').apply(weighted_mean_age)

Part 2 20%


In the same notebook, make a variable that stores an age (say 35).

Write that code that would group the people within 5 years of that age together, into one age group 

Calculate the population difference between the sexes in that age group.

In [ ]:
# make a variable that stores an age (say 35).

age_to_check = 35

# filter data for that age
# df_age = df_filtered[df_filtered['Single Year of Age'] == age_to_check]
df_age = df_filtered[df_filtered['Single Year of Age'] == str(age_to_check)]

#to get sum of population at that age
population_at_age = df_age.groupby('Sex')['VALUE'].sum()

In [ ]:
#made error somewhere "del print" advised
#reference : Chatgpt prompt ----> 13 print(population_at_age) TypeError: 'DataFrame' object is not callable,[accessed 4 November 2025].

In [ ]:
# 1. Choose the target age
age_to_check = 35

# Store the age to check
age_to_check = 35

# Filter data for that age
df_age = df_filtered[df_filtered['Single Year of Age'] == age_to_check]

# Get sum of population at that age by Sex
population_at_age = df_age.groupby('Sex')['VALUE'].sum()

print(population_at_age)

Sex
Female    75880
Male      69390
Name: VALUE, dtype: int64

Part 3 10%

In the same notebook.

Write the code that would work out which region in Ireland has the biggest population difference between the sexes in that age group

KeyError: 'Difference'

References: 
chatgpt, prompt - weighted mean age (by sex) https://chatgpt.com/c/6930c05c-22b4-8326-8026-c3558e112724 [accessed 4 December 2025].

andrew beatty, notebook ,preparing-population and weighted-stats.ipynb,[accessed 4 December 2025].

andrew beatty , lectures, introduction to statistics and preparing population data from the CSO [accessed 4 DAecember 2025].

Chatgpt prompt ----> 13 print(population_at_age) TypeError: 'DataFrame' object is not callable,[accessed 4 November 2025].

Chatgpt prompt -