## Part 1 70%

## Write a jupyter notebook that analyses the differences between the sexes by age in Ireland.

    Weighted mean age (by sex)
    The difference between the sexes by age

## This part does not need to look at the regions.

In [28]:
import pandas as pd

#read in csv file and locate it
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df.tail(3)


# get rid of unwanted columns
#check the columns

headers = df.columns.tolist()
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [42]:
# to get rid of "Both sexes" in "Sex"
df = df[df["Sex"] != "Both sexes"]

df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

In [43]:
# drop unwanted columns
drop_col_list = ['STATISTIC', 'Statistic Label', 'TLIST(A1)','CensusYear','C02199V02655','C02076V03371','C03789V04537', 'UNIT','VALUE']
df_cleaned = df.drop(columns=drop_col_list)
# check the cleaned up dataframe
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6528 entries, 3264 to 9791
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sex                      6528 non-null   object
 1   Single Year of Age       6528 non-null   object
 2   Administrative Counties  6528 non-null   object
dtypes: object(3)
memory usage: 204.0+ KB

In [ ]:
# to get rid of "Both sexes" in "Sex"

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7