## Part 1 70%

## Write a jupyter notebook that analyses the differences between the sexes by age in Ireland.

    Weighted mean age (by sex)
    The difference between the sexes by age

## This part does not need to look at the regions.

In [81]:
import pandas as pd



#read in csv file and locate it
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df.tail(8)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9784,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a5-13a3-e055-000000000001,Galway County Council,Number,26
9785,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-148e-13a3-e055-000000000001,Leitrim County Council,Number,4
9786,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1493-13a3-e055-000000000001,Mayo County Council,Number,25
9787,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1497-13a3-e055-000000000001,Roscommon County Council,Number,7
9788,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1498-13a3-e055-000000000001,Sligo County Council,Number,9
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

In [58]:
# get the coluumn list to decide what to drop

headers = df.columns.tolist()
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [83]:
drop_col_list = [
    'STATISTIC',
    'Statistic Label',
    'TLIST(A1)',
    'CensusYear',
    'C02199V02655',
    'C02076V03371',
    'C03789V04537',
    'UNIT'
]

# Drop the specified columns but keep 'Sex'
df_cleaned = df.drop(columns=drop_col_list, errors='ignore')
df_cleaned.head()

,Sex,Single Year of Age,Administrative Counties,VALUE
0,Both sexes,All ages,Ireland,5149139
1,Both sexes,All ages,Carlow County Council,61968
2,Both sexes,All ages,Dublin City Council,592713
3,Both sexes,All ages,Dún Laoghaire Rathdown County Council,233860
4,Both sexes,All ages,Fingal County Council,330506

In [84]:
# get ride of the "both sexes" in sex column
df_cleaned = df_cleaned[df_cleaned['Sex'] != 'Both sexes']
df_cleaned.head()

       Sex Single Year of Age                Administrative Counties    VALUE
3264  Male           All ages                                Ireland  2544549
3265  Male           All ages                  Carlow County Council    30822
3266  Male           All ages                    Dublin City Council   291796
3267  Male           All ages  Dún Laoghaire Rathdown County Council   112032
3268  Male           All ages                  Fingal County Council   162532